body {
    background-color: black;
    color: white;
    font-family: "Calibri", sans-serif;;
}

h1 {
    text-align: center;
}

canvas {
    display: block;
    margin: 0 auto;
    padding-bottom: 1%;
}

button {
    display: block;
    margin: 0 auto;
}
